 <header>

    <img src="assets/img/imgCurriculo.png"
     alt="Matheus Viana - foto de perfil"
     width="160px"
     height="160px"
     loading="eager">
     <h1>MATHEUS VIANA</h1>
 </header>

 <aside>
    <div class="container">

    <p>Fullstack Java | Spring Boot | Angular </p>
    <p>Brasil, Ceilândia - DF</p>
    <p>Nivel Superior - SISTEMAS DE INFORMAÇÃO</p>
    <p>A carreira de programação recentemente tem despertado novos interesses e desafios em minha vida,
        contudo, pude desbravar conhecimentos novos e mergulhar a fundo o mundo do desenvolvimento. Por isso, resolvi
        abraçar esta oportunidade!
          
    </p>

    <nav>
        <ul>
            <li>
                <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
                    Download CV
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/matheus-viana-0049b92b7/" target="_blank" class="btn btn-secondary">
                    LinkedIn
                </a>
            </li>
        </ul>
    </nav>

    <section>
        <figure>
            <img src="assets/icons/whatsapp.svg"
             alt="Imagem de email"
             width="22px"
             height="24px"
             />
             <figcaption>
                <a href="https://wa.me/5561993975500" target="_blank">
                    <strong>Envie uma mensagem para:</strong>
                    <p>Whatsapp:(61) 99397-5500</p>
                </a>
             </figcaption>
             
        </figure>


        <figure>
            <img src="assets/icons/mail.svg"
             alt="imagem do whatsapp para contato"
             width="22px"
             height="24px"
             />
             <figcaption>
                <a href="mailto:matheusgoldship@gmail.com" target="_blank">
                    <strong>Envie um e-mail para:</strong>
                    <p>matheusgoldship&#64;gmail.com</p>
                </a>
             </figcaption>
             
        </figure>

    </section>



    </div>
 </aside>

