:root{
    --primary: #2fbf71;
    --primary-010: #21804d;

    --secondary: #066d9a;
    --secondary-010: #06374e;

    --white: #fff;
    --black: #10101aec;
    --black-010:#414148ec;
    --grey: #9b9ba0;

}